doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/styles/style.css')
        title Architects | #{pageTitle}
    body
        .w3-top
            .w3-bar.w3-white.w3-wide.w3-padding.w3-card
                a.w3-bar-item.w3-button(href='/')
                    b BR
                    |  Architects
                .w3-right.w3-hide-small
                    a.w3-bar-item.w3-button(href='/projects') Projects
                    a.w3-bar-item.w3-button(href='/about') About
                    a.w3-bar-item.w3-button(href='/admin') Admin
        block content

        footer.w3-center.w3-black.w3-padding-16
            p Powered by
                a.w3-hover-text-green(href='https://www.w3schools.com/w3css/default.asp' title='W3.CSS' target='_blank')
                |  w3.css
