extends layouts/main-layout

block content
    .w3-content.w3-padding(style='max-width:1564px')
        #about.w3-container.w3-padding-32
            h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 About
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                | occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                | laboris nisi ut aliquip ex ea commodo consequat.
        .w3-row-padding.w3-grayscale
            .w3-col.l3.m6.w3-margin-bottom
                img(src='/images/team2.jpg' alt='John' style='width:100%')
                h3 John Doe
                p.w3-opacity CEO &amp; Founder
                p
                    | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                p
                    button.w3-button.w3-light-grey.w3-block Contact
            .w3-col.l3.m6.w3-margin-bottom
                img(src='/images/team1.jpg' alt='Jane' style='width:100%')
                h3 Jane Doe
                p.w3-opacity Architect
                p
                    | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                p
                    button.w3-button.w3-light-grey.w3-block Contact
            .w3-col.l3.m6.w3-margin-bottom
                img(src='/images/team3.jpg' alt='Mike' style='width:100%')
                h3 Mike Ross
                p.w3-opacity Architect
                p
                    | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                p
                    button.w3-button.w3-light-grey.w3-block Contact
            .w3-col.l3.m6.w3-margin-bottom
                img(src='/images/team4.jpg' alt='Dan' style='width:100%')
                h3 Dan Star
                p.w3-opacity Architect
                p
                    | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                p
                    button.w3-button.w3-light-grey.w3-block Contact
