extends layouts/main-layout

block content
    .w3-content.w3-padding(style='max-width:1564px')
        .w3-container.w3-padding-32
            h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Create project
            form(action='/admin/project' method='POST')
                input.w3-input.w3-section.w3-border(type='text' placeholder='Title' required='' name='title')
                input.w3-input.w3-section.w3-border(type='text' placeholder='Image source' required='' name='image')
                button.w3-button.w3-black.w3-section(type='submit')
                    |  CREATE
        .w3-container.w3-padding-32
            h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Create employee
            form(action='/admin/employee' method='POST')
                input.w3-input.w3-border(type='text' placeholder='Name' required='' name='name')
                input.w3-input.w3-section.w3-border(type='text' placeholder='Role' required='' name='role')
                input.w3-input.w3-section.w3-border(type='text' placeholder='Image source' required='' name='image')
                input.w3-input.w3-section.w3-border(type='text' placeholder='Description' required='' name='description')
                button.w3-button.w3-black.w3-section(type='submit')
                    |  CREATE
