extends layouts/main-layout

block content
    .w3-content.w3-padding(style='max-width:1564px')
        #projects.w3-container.w3-padding-32
            h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Projects
        .w3-row-padding
            each project in projects
                .w3-col.l3.m6.w3-margin-bottom
                    .w3-display-container
                        .w3-display-topleft.w3-black.w3-padding #{project.title}
                        img(src=project.img.src alt=project.img.alt style='width:100%')
